    

    /* Common */
    html{
        font-size: 1vw;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto !important;
    }

    /* #bg{
        background: url("../assets/images/mobile/background.png");
        background-size: cover;
    } */
    
    body{
        font-family: 'Gravity-Regular';
        z-index:1;
    }

    #tag{
        letter-spacing : 0.1px;
    }

    img{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .w-15{
        width:15%;
    }

    /* Responsive */
    .content-box{
        width: 84%;
        max-width: 1080px;
        margin: auto;
    }

    #bg-texture{
        background: url("../assets/images/Thank-you-page-background.png") no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -3;
        /* top:0; */
        /* transform: translate3d(0, 0, -100px); */
        
    }

    button{
        background: none;
    }

    img.button-img{
        max-width:128px;
        height:auto;
    }

    .desktop-display{
        display: inline-block;
    }

    .mobile-display{
        display: none;
    }

    .mobile-stone-grass{
        position: relative;
        height: auto;
        display: none;
    }

    .blue-title{
        font-size: calc(26px + 3rem);
        font-family: 'RedRock';
        color: #191f66;
    }

    .subtitle{
        font-size: calc(19px + .7rem);
        font-family: 'RedRock';
    }
    
    p, label, input[type=text], input[type=email], input[type=number], input[type=checkbox] {
        font-size: calc(13px + .3rem);
    }

    .form-check label{
        font-size: calc(12px + .1rem);
    }

    .text-bold{
        font-family: 'Gravity-Bold';
    }

    small{
        font-size: 10px;
    }

    a:focus , button:focus, button:active {
        outline: none;
        box-shadow: none !important;
    }

    .section{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .modal h5, .close-modal-button{
        font-size: 14px;
    }

    .close-icon{
        font-size: 24px;
    }

    .pdpa-text{
        font-size: 13px;
        padding: .5% 1%;
        margin: .5% auto;
    }

    .modal{
        padding: 3vw;
    }

    .modal-body{
        max-height: 50vh;
        overflow-y: auto;
    }

    /* Navbar */

    nav{
        transform: translate3d(0, 0, 10px);
    }

    #logo{
        max-width: 186px;
        margin-top: 30px;
    }

    #navbar{
        max-width: 700px;
        margin-top: 20px;
    }
    /* End Navbar */

    /* Home */

    #hero-image{
        position: absolute;
        top: -15%;
        left:0;
        z-index: -2;
    }

    #tag-image{
        width: 76%;
        height: auto;
        margin : 4% 0 4% 4%;
        /* margin-right: 16%; */
    }

    #home{
        z-index: 1;
        /* transform: translate3d(0, 0, 10px); */
    }

    #home-content{
        max-width: 800px;
    }

    #home-text{
        /* width: 70%; */
        max-width: 600px;
    }

    /* End Home */

     /* Prizes */
    #prizes{
        position: relative;
        z-index: 1;
        margin-top: 8%;
        /* transform: translate3d(0, 0, -10px); */
    }
     
     #prizes img{
         width: 100%;
         max-width: 220px;
         min-width: 94px;
         height: auto;
     }

     .display-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .display-flex>div {
        flex: 1;
      }

     .prizes-sample{
        margin: 0 1% 0 1%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        align-items: center;
    }

    .prizes-text{
        line-height: 1.6;
        padding-right: 0;
        margin-bottom: 0;
    }

    #watercolour-1{
        left:0;
        /* top: 0; */
        z-index: -1;
        /* transform: scale(1.5); */
    }

    #watercolour-2{
        right:0;
        top: 90%;
        z-index: -1;
        transform: translateX(-5%) scale(1.1);
    }

    .watercolor{
        opacity: .4;
        /* mix-blend-mode: multiply; */
    }
 
    /* End Prizes */

    /* How To Win */

    .how-to-win-image{
        width: 80%;
        height:auto;
        max-width: 116px;
        min-width: 76px;
    }

    #how-to-win p{
        text-align: center;
        -moz-text-align-last: center;
        text-align-last: center;
        padding: 0;
        /* font-size: calc(11px + .7rem); */
    }

    .how-to-win-button{
        max-width: 100px;
        min-width: 84px;
        width: 10vw;
        padding: 0;
    }
    /* End How To Win */

    /* Postcard Template */
    #postcard-template{
        overflow: hidden;
        z-index: 1;
    }

    #postcard-watercolor{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        mix-blend-mode: multiply;
        width: 82%;
        min-width: 740px;
        max-width: 1080px;
    }

    #postcard-template-img{
        max-width: 760px;
    }

    img[src*='Building element']{
        max-width: 140px;
        margin-left: 3%;
    }

     /* End Postcard Template */

     /* Join Now */
        #file-upload-box{
            border: 1px dotted black;
            border-radius: 1px;
            margin-top: 3%;
            height: 86%;
            cursor: pointer;
        }

        /* input[type=file]{
            width: 100%;
        } */

        input{
            border-radius: 5px !important;
            height: calc(34px + .9rem);
            max-height: 40px;
        }

        #file-upload-btn{
            background-color: #e65521;
            border-radius: 5px;
            width: 112px;
            height: 36px;
        }

        #file-upload-btn .subtitle{
            /* font-size: 110%; */
            font-size: 18px;
            color: white;
            line-height: 24px;
        }

        #upload-icon{
            max-width: 88px;
            min-width: 64px;
        }

        #join-now img[src*='Tree element']{
            max-width: 240px;
        }

        .cta-button{
            margin-top: 20px;
        }

        .custom-checkbox {
            position: relative;
            display: block;
          }
          
          .custom-checkbox span {
            display: block;
            line-height: 18px;
            text-align: left;
            margin-left: 12px;
            font-size: 14px;
          }
          
          .custom-checkbox span::before {
            content: "";
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            top: 0;
            left: 0;
            background: #fdfdfd;
            border: 1px solid rgba(184, 184, 184, 0.8);
            border-radius: 4px;
          }
          
          .custom-checkbox span::after {
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            top: 0;
            left: 0;
            font-size: 14px;
            color: #0087b7;
            line-height: 18px;
            text-align: center;
            border-radius: 4px;
          }
          
          .custom-checkbox input[type="checkbox"] {
            opacity: 0;
            z-index: -1;
            position: absolute;
          }
          
          .custom-checkbox input[type="checkbox"]:checked + span::after {
            font-family: "FontAwesome";
            content: "\f00c";
            background:#e65521;
            color:#fff;
          }

          .form-error{
              font-size: 13px;
          }

     /* End Join Now */

     /* Gallery */
     
        #gallery-box{
            -webkit-box-shadow: 0px -1px 6px 0px rgba(150,150,150,0.6);
            -moz-box-shadow: 0px -1px 6px 0px rgba(150,150,150,0.6);
            box-shadow: 0px -1px 6px 0px rgba(150,150,150,0.6);
            /* padding: 2% 1%; */
            border-radius: 8px;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            height: auto;
            max-width: 760px;
            margin: auto;
        }

        #gallery-box-inner{
            max-height: 640px;
            padding: 2% 4% 2% 2%;
            width: 104%;
            overflow-y: scroll;
        }

        #gallery-box-inner > div{
            margin-top: 1.5%;
            margin-bottom: 1.5%;
            padding-left: 1.5%;
            padding-right: 1.5%;
        }
        

        ::-webkit-scrollbar {
            width: 12px;
            left: 100px;
        }
        ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
        }
        ::-webkit-scrollbar-thumb {
        background: #616161;
        border: 0px none #ffffff;
        border-radius: 24px;
        }
        ::-webkit-scrollbar-thumb:hover {
        background: #616161;
        }
        ::-webkit-scrollbar-thumb:active {
        background: #e65521;
        }
        ::-webkit-scrollbar-track {
        background: #d4d4d4;
        border: 1px solid rgba(180,180,180,0.6);
        border-radius: 50px;
        }
        ::-webkit-scrollbar-track:hover {
        background: #d4d4d4;
        }
        ::-webkit-scrollbar-track:active {
        background: #d4d4d4;
        }
        ::-webkit-scrollbar-corner {
        background: transparent;
        }

     /* End Gallery */

     /* Footer  */
        #footer{
            margin-top: 10vh;
        }

        .footer-logos > div{
            margin-right: 10px;
        }
        
        .footer-logos img{
            margin-top: 10px;
            width: auto;
            max-height: 32px;
        }

        #footer p{
            font-size: 14px;
            letter-spacing: .1px;
        }

        .footer-social-icon{
            max-width: 48px;
            width: 100%;
            height: auto;
        }
     /* End Footer  */



