@font-face{
    font-family: Gravity-Regular;
    src: url('../fonts/Gravity-Regular.otf')
}

@font-face{
    font-family: Gravity-Bold;
    src: url('../fonts/Gravity-Bold.otf')
}

@font-face{
    font-family: Gravity-BoldItalic;
    src: url('../fonts/Gravity-BoldItalic.otf')
}

@font-face{
    font-family: Gravity-Book;
    src: url('../fonts/Gravity-Book.otf')
}

@font-face{
    font-family: Gravity-Italic;
    src: url('../fonts/Gravity-Italic.otf')
}

@font-face{
    font-family: Gravity-Light;
    src: url('../fonts/Gravity-Light.otf')
}

@font-face{
    font-family: Gravity-LightItalic;
    src: url('../fonts/Gravity-LightItalic.otf')
}

@font-face{
    font-family: Gravity-UltraLight;
    src: url('../fonts/Gravity-UltraLight.ttf')
}

@font-face{
    font-family: Gravity-UltraLightItalic;
    src: url('../fonts/Gravity-UltraLightItalic.otf')
}

@font-face{
    font-family: RedRock;
    src: url('../fonts/RedRock.ttf')
}