@media only screen and (max-width: 780px) {
    img.button-img{
        width: 80px;
        height:auto;
    }

    .mobile-display{
        display: inline-block;
    }

    .desktop-display{
        display: none;
    }

    .blue-title{
        font-size: calc(30px + 3rem);
    }

    .subtitle{
        margin-bottom: 3%;
    }

    p, label, input[type=text], input[type=email], input[type=number]{
        font-size: calc(12px + .8rem);
        letter-spacing: 0.0005em;
    }

    /* Navbar */
    #logo{
        width: 128px;
        margin-top: 16px;
    }

    #navbar{
       width: 90%;
       margin-top: 14px;
    }

    #navbar div{
        padding: 0;
    }
    
    /* End Navbar */

    /* Container width */
    .content-box{
        width: 84%;
        margin: auto;
    }

    /* Home */

    #hero-image{
        top: 0;
    }

    #tag-image{
        width: 56%;
        height: auto;
        margin : 4% 0 0 4%;
        /* margin-right: 16%; */
    }

    #home-text{
        width: 84%;
    }

    #join-now-button{
        src:"../assets/images/mobile/Join now button.png";
    }

    .mobile-stone-grass{
        position: relative;
        height: auto;
        display: block;
    }

    #mobile-stone-grass-1{
        max-width: 70px;
        margin-right: 3%;
    }

    /* End Home */
    
    /* Prizes */

    #watercolour-1{
        top: -12%;
        left:-10%;
        transform: scale(1);
        transform:  scale(.8);
    }

    #watercolour-2{
        right:0;
        top: 70%;
        z-index: -1;
        transform: translateX(20%) scale(.6);
    }

    .prize-sample{
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #prizes .display-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .prizes-sample{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .prizes-flex-left{
        flex: 1;
        padding-right: 2%;
    }

    .prizes-flex-right{
        flex: 1;
        flex-grow: 2;
    }

    #prize-image-1{
        transform: scale(1.15);
    }

    #prize-image-3{
        transform: scale(1.1);
    }

    .prizes-text{
        line-height: 1.2;
        padding-right: 0;
        margin-bottom: 0;
    }

    #mobile-stone-grass-2{
        max-width: 108px;
        margin-left:4%;
    }
 
    /* End Prizes */

    /* How To Win */
    #how-to-win p{
        text-align: left;
        -moz-text-align-last: left;
        text-align-last: left;
    }

    #how-to-win .subtitle{
        text-align: right;
        padding: 0;
        font-size: calc(16px + 1rem);
    }

    #how-to-win p{
        padding-left: 1.5%;
    }

    .how-to-win-instruction{
        padding-right: 0;
        text-align: left;
    }

     .how-to-win-image{
         max-width: 86px;
         min-width: 66px;
     }

     .how-to-win-button{
        max-width: 88px;
        width: auto;
        padding: 0;
    }

    /*END  How To Win */
    
    /* Postcard Template */
    #postcard-template{
        overflow-x: hidden;
    }

    #postcard-watercolor{
        top: 55%;
        left: 45%;
        transform: translate(-50%, -50%) scale(1.15);
        width: 100%;
        min-width: 400px;
    }

    .step-description{
        padding-left: 0;
        padding-right: 0;
        /* text-align: right; */
    }

    /* End Postcard Template */

    /* Join Now */
    .form-group *.row{
        padding-left: 0 ;
        padding-right: 0 ;
    }

    #file-upload-box{
        padding: 3vh 0 3vh 0;
    }

    #pdpa-checkbox-desktop{
        display: none !important;
    }

    .custom-checkbox span {
        margin-left: 18px;
        font-size: 13px;
      }

    /* End Join Now */

    /* Gallery */
    #gallery{
        margin-top: -4%;
    }

    #gallery-box-inner{
        padding: 2% 2% 2% 2%;
        width: 100%;
        max-height: 80vw;
    }

    #gallery-box-inner > div{
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 2%;;
        padding-right: 2%;
    }

    #mobile-stone-grass-3{
        margin-left: 34%;
        width: 80%;
        max-width: 118px;
    }

    #mobile-brush{
        width: 80%;
        max-width: 198px;
        margin-top: 8%;
    }

    /* End Gallery */

    /* Footer  */
    #footer{
        padding-top: 6vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #footer p{
        font-size: 14px;
    }

    .footer-social-icon{
        max-width: 128px;
    }

    .mobile-logos img{
        max-height: 64px;
        width: auto;
    }

    #mobile-footer-img{
        bottom: 0;
        /* z-index: -1; */
        mix-blend-mode: multiply;
        /* transform: scale(1.2); */
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
 /* End Footer  */
  }